html {
    font-size: 62%;
    box-sizing: border-box;
}
body {
    margin: 0;
font-size: 1.6rem;
font-family: Helvetica,Arial,sans-serif;
height: 100vh;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ff8000;
}
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2{
    font-size: 1.6rem;
    padding: 1rem 0;
}
/* Layout */

.grid-container {
    display: grid;
    grid-template-areas: 'a'
    'b'
    'c';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header {
    grid-area: 'a';
    background-color: #203040;
}
header a {
    color: #ffffff;
    padding: 1rem;
}
a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}
main {
    grid-area: 'b';
    padding: 1rem;
}
footer {
    grid-area: 'c';
    background-color: #203040;
    color: #ffffff;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row.center{
    justify-content: center;
}
img {
    border-radius: 0.5rem;
}
img.meduim {
    max-width: 29rem;
    width: 100%;
}
.card {
    border: .1rem solid #c0c0c0;
    background-color: #f8f8f8;
    margin: 1rem;
    border-radius: 0.5rem;
}
.card-body {
    padding: 1rem;
}
.card-body > * {
    margin-bottom: 0.5rem;
}
.price {
    font-size: 2rem;
}

.rating i {
    color: #f0c040;
    margin: .1rem;
}