.table {
    width: 100%;
    border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd){
    background-color: #f4f4f4;
}
.table th, .table td {
    text-align: left;
    padding: 0.5rem;
    border: .1rem solid #e4e4e4;
}
.table button{
    margin: 0 0.2rem;
}