.success {
    color: #20a020;
}
.danger {
    color: #a02020;
}
.alert {
    padding: 1rem;
    border: .1rem solid transparent;
    border-radius: .5rem;

}
.alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
}
.alert-success {
    color: #20a020;
    background-color: #eeffe0;
}
.alert-danger {
    color: #a02020;
    background-color: #ffe0e0e0;
    border-radius: .5rem;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
