.placeorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    align-items: flex-start;
}
.placeorder-info {
    flex: 3 1 45%;
    
}
.placeorder-action {
    flex: 1 1 25%;
border: .15rem solid #c0c0c0;
background-color: #fcfcfc;
border-radius: .5rem;
padding: 1rem;
}
.placeorder-info > div {
   
border: .15rem solid #c0c0c0;
background-color: #fcfcfc;
border-radius: .5rem;
padding: 1rem;
margin: 1rem;
}
.placeorder-info > div:first-child {
    margin-top: 0;
}
.placeorder-action ul{
    padding: 0;
    list-style-type: none;
}

.placeorder-action ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

}
.placeorder-action ul li:last-child {
    font-size: 2rem;
    color: #c04000;
    font-weight: bold;
}